body {
    background-color: #14151c;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #eee;
    font-family: -apple-system,BlinkMacSystemFont,
        Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,
        Fira Sans,Droid Sans,Helvetica Neue,
        sans-serif;
}

